#footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  padding: 1rem 2rem;
}

#footer.open {
  height: 12rem;
}
  
.footer-return {
  font-family: "Helvetica";
  font-size: 2rem;
  margin-right: 2rem;
}
